*{
    padding: 0;
    margin: 0;
}
header{
    background-color: red;
}
nav{
    width: 1047px;
    margin: 0 auto;
}
.container {
    width: 1047px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .title h1{
    font-size: 52px;
    color: black;
    padding-bottom: 16px;
    line-height: 70px;
}
.container .title p{
    font-size: 16px;
    color: black;
    line-height: 24px;
    padding-bottom: 16px;
}
.prebookbtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    display: inline-block;
    background-color: #E02C6D;
    border-radius: 41px;
}
.prebookbtn a{
    text-decoration: none;
    color: white;
    padding-right: 8px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
.prebookbtn i{
    color:  #FFFFFF;
}
.container img{
    width: 350px;
}
.popular-brand{
    width: 1047px;
    margin: 0 auto;
    margin-top: 70px;
}
.popular-brand .top-brand{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 61px;
    border: 1px solid #ddd;
}
.popular-products {
    width: 1047px;
    margin: 0 auto;
    margin-top: 100px;
}
.popular-products .title{
    text-align: center;
    margin: auto 0px;
    padding-bottom: 30px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.product-card{
    border-radius: 5px;
    padding: 14px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.products img{
    width: 300px;
}
.product-card .pro-info h1{
    padding-top: 16px;
    font-size: 28px;
    padding-bottom: 6px;
    color: #18191F;
}
.product-card .pro-info h3{
    font-size: 24px;
    padding-bottom: 8px;
    color: rgba(0, 0, 0, 0.87);
}
.product-card .pro-info .icon .fa-star{
    font-size: 12px;
}
.product-card .pro-info .icon .full{
    color: #FB8200;
}
.product-card .pro-info .icon .half{
    color: grey;
}
.product-card .pro-info .icon span{
    color: #5E6366;
    font-style: 14px;
    font-weight: bold;
    padding-left: 8px;
}
.product-card .pro-info p{
    color: #787885;
    font-size: 14px;
    line-height: 20px;
    padding-top: 7px;
    font-weight: bold;
    letter-spacing: 0.018em;
}
.popular-products a{
    text-decoration: none;
    font-size: 16px;
    padding-top: 50px;
    float: right;
    color: #E02C6DDE;
    font-weight: bold;
}
.popular-products a .fa-arrow-right{
    padding-left: 8px;
}