*{
    padding: 0;
    margin: 0;
}
header{
    background-color: red;
}
nav{
    width: 1047px;
    margin: 0 auto;
}
.container {
    width: 1047px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .title h1{
    font-size: 52px;
    color: black;
    padding-bottom: 16px;
    line-height: 70px;
}
.container .title p{
    font-size: 16px;
    color: black;
    line-height: 24px;
    padding-bottom: 16px;
}
.prebookbtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    display: inline-block;
    background-color: #E02C6D;
    border-radius: 41px;
}
.prebookbtn a{
    text-decoration: none;
    color: white;
    padding-right: 8px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
.prebookbtn i{
    color:  #FFFFFF;
}
.container img{
    width: 350px;
}
.popular-brand{
    width: 1047px;
    margin: 0 auto;
    margin-top: 70px;
}
.popular-brand .top-brand{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 61px;
    border: 1px solid #ddd;
}
.popular-products {
    width: 1047px;
    margin: 0 auto;
    margin-top: 100px;
}
.popular-products .title{
    margin-left: 50%;
    padding-bottom: 30px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.product-card{
    border-radius: 5px;
    padding: 14px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}
.products img{
    width: 300px;
}